// Colors
$green: #4AA581;
$black: #000000;
$white: #FFFFFF;

// Layout
$colWidth: 3.8888888889vw;
$gutterWidth: 1.875vw;
$baseSize: 0.6944444444vw; // 10px on 1440px wide screen

// Fonts
$mainFont: 'Helvetica';

// Beziers curves
$bezier: cubic-bezier(.215,.61,.355,1);
$bezier2: cubic-bezier(0.4, 0, 0.2, 1);